
/EDGE/ACTIVADOR/actuador/target
*.class
*.class
*.lst
FOG/LOCAL-SERVER/target/classes/com/fog/App.class
FOG/LOCAL-SERVER/target/test-classes/com/fog/AppTest.class
FOG/LOCAL-SERVER/target/classes/com/fog/App.class
